<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/surfers/<%= current_user.slug %>">Your Log<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/log_entries">All Log Entries</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/new">Create Log Entry</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='/logout'>Logout</a>
        </li>
      </ul>
    </div>
  </nav>

<h2><%= @surfer.surfername %>, Here Are Your Log Entries:</h2>
  <% if @surfer.log_entries == [] %>
    <p>You Have no Log Entries. Please Create a Log Entry and Start Loggin'!</p>
  <% else %>
    <% @surfer.log_entries.reverse.each do |log_entry| %>
      <div>
          <h3><%= log_entry.surf_spot %></h3>
        <p><b>Date:</b> <%= log_entry.date %><br>
        <% if log_entry.swell_size != "" %>
          <b>Swell Size:</b> <%= log_entry.swell_size %><br>
        <% end %>
        <% if log_entry.swell_direction != "" %>
          <b>Swell Direction:</b> <%= log_entry.swell_direction %><br>
        <% end %>
        <% if log_entry.conditions != "" %>
          <b>Condtions:</b> <%= log_entry.conditions %><br>
        <% end %>
        <% if log_entry.wave_count != "" %>
          <b>Wave Count:</b> <%= log_entry.wave_count %></p>
        <% end %>

        <% if log_entry.image_url != "" %>
          <img src="<%= log_entry.image_url %>" alt="surfing, waves">
        <% end %>
        <p id="content"><%= log_entry.content %></p>

        <form method="get" action="/logs/<%= log_entry.id %>/edit">
          <button type="submit" id="inline-button" class="btn btn-primary">Edit</button>
        </form>
        <form method="post" action="/logs/<%= log_entry.id %>/delete">
          <input type="hidden" name="_method" value="DELETE" id="hidden">
          <button type="submit" id="inline-button" class="btn btn-primary">Delete</button>
        </form>
      </div>
    <% end %>
  <% end %>
