<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/show">Your Log<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/log_entries">All Log Entries</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/new">Create Log Entry</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='/logout'>Logout</a>
        </li>
      </ul>
    </div>
  </nav>

<h2><%= @surfer.surfername %> Log Entries</h2>

<% @surfer.log_entries.each do |log_entry| %>
  <div class="form-group">
    <h3><%= log_entry.surf_spot %></h3>
      <p>Date: <%= log_entry.date %> By: <%= log_entry.surfer.surfername %></p>
    </div>

    <% if log_entry.swell_direction %>
      <p>Swell Direction: <%= log_entry.swell_direction %></p>
    <% end %>
    <% if log_entry.swell_size %>
      <p><%= log_entry.swell_size %></p>
    <% end %>
    <% if log_entry.conditions %>
      <p>Condtions: <%= log_entry.conditions %></p>
    <% end %>
    <% if log_entry.wave_count %>
      <p>Wave Count: <%= log_entry.wave_count %></p>
    <% end %>

    <% if log_entry.image_url %>
      <img href="<%= log_entry.image_url %>" alt="surfing, waves">
    <% end %>
    <p><%= log_entry.content %></p>
  <form action='/logs/<%= log_entry.id %>/edit' method="GET">
    <button type="submit" class="btn btn-primary">Edit</button>
  </form>
</div>

<% end %>
