<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/surfers/<%= current_user.slug %>">Your Log</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/log_entries">All Log Entries<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/new">Create Log Entry</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href='/logout'>Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div>
<h2 class="break">Welcome to the Surfer's Log Community, <%= current_user.surfername %>!</h2>

  <% @log_entries.each do |log_entry| %>
    <div>
      <h3><%= log_entry.surf_spot %></h3>
      <p><b>Date:</b> <%= log_entry.date %><br>
      <b>By:</b> <%= log_entry.surfer.surfername %></p><br>
      <form method="get" action="/logs/<%= log_entry.id %>">
        <button type="submit" id="inline-button" class="btn btn-primary">View</button>
      </form><br>

      <% if log_entry.swell_size != "" %>
        <p><b>Swell Size:</b> <%= log_entry.swell_size %><br>
      <% end %>
      <% if log_entry.swell_direction != "" %>
        <b>Swell Direction:</b> <%= log_entry.swell_direction %>
      <% end %><br>


      <% if log_entry.conditions != "" %>
        <b>Conditions:</b> <%= log_entry.conditions %><br>
      <% end %>
      <% if log_entry.wave_count != "" %>
        <b>Wave Count:</b> <%= log_entry.wave_count %></p>
      <% end %>

      <% if log_entry.image_url != "" %>
        <img src="<%= log_entry.image_url %>" alt="surfing, waves">
      <% end %>
      <p id="content"><%= log_entry.content %></p>
    </div>
    <div class="break">
    </div>
  <% end %>
</div>
