<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Surfers Log, surfing, surf, journal, log, waves, surf spot, swell">
    <meta name="author" content="Michael Pieschel">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Surfer's Log</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <% if flash.has?(:message) %>
          <p><%= flash[:message] %></p>
        <% end %>
        <% if flash.has?(:error) %>
          <div class="flash"><%= flash[:error] %></div>
        <% end %>
        <div class="row">
          <div class="col-sm-12">
              <img id="header" src="/images/surfers_log.jpg" alt="Scenic coastal picture with wave">
            <h1>Surfer's Log</h1>

            <% if request.path_info != '/create_surfer' && request.path_info != '/' && request.path_info != '/login'%>
              <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                  <ul class="navbar-nav mr-auto">
                    <% if request.path_info == "/surfers/#{current_user.slug}" %>
                      <% if current_user.id == @surfer.id %>
                        <li class="nav-item active">
                          <a class="nav-link" href="/surfers/<%= current_user.slug %>">Your Log<span class="sr-only">(current)</span></a>
                        </li>
                      <% else %>
                        <li class="nav-item">
                          <a class="nav-link" href="/surfers/<%= current_user.slug %>">Your Log</a>
                        </li>
                      <% end %>
                    <% else %>
                      <li class="nav-item">
                        <a class="nav-link" href="/surfers/<%= current_user.slug %>">Your Log</a>
                      </li>
                    <% end %>

                    <% if request.path_info == '/log_entries' %>
                      <li class="nav-item active">
                        <a class="nav-link" href="/log_entries">All Log Entries<span class="sr-only">(current)</span></a>
                      </li>
                    <% else %>
                      <li class="nav-item">
                        <a class="nav-link" href="/log_entries">All Log Entries</a>
                      </li>
                    <% end %>

                    <% if request.path_info == "/new" %>
                      <li class="nav-item active">
                        <a class="nav-link" href="/new">Create Log Entry<span class="sr-only">(current)</span></a>
                      </li>
                    <% else %>
                      <li class="nav-item">
                        <a class="nav-link" href="/new">Create Log Entry</a>
                      </li>
                    <% end %>


                    <li class="nav-item">
                      <a class="nav-link" href='/logout'>Logout</a>
                    </li>
                  </ul>
                </div>
              </nav>
            <% end %>

            <%=yield %>
          </div>
        </div>

        <footer>
          &copy; 2018 Surfers Log. All Rights Reserved.
        </footer>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
